<div class="contenedor-login">
  <form [formGroup]="formLogin" (ngSubmit)="submitForm()" novalidate>
    <div style="margin-top: 10px;" fxLayout="column" fxFlexFill fxLayout.lt-sm="column">
      <!-- Name -->
      <mat-form-field fxFlex class="example-full-width">
        <input matInput placeholder="Name" formControlName="usuario">
      </mat-form-field>
      <!-- Email -->
      <mat-form-field fxFlex  class="example-full-width">
        <input matInput placeholder="Email" formControlName="clave">
      </mat-form-field>

      <!-- Submit -->
      <div fxFlex class="button-wrapper">
        <button type="submit" mat-flat-button color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>
